*
{
   font-family: "Inter", sans-serif;
    margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}
nav li a
{
   text-decoration: none;
   color: #000000;
   font-size: 16px;
   transition: all 0.25s;
}
nav li a:hover
{
  background-color: rgb(228, 227, 227);
}
nav li a:active
{
  background-color: rgb(213, 213, 213);
}
nav ul
{
   list-style: none;
   display: flex;
   gap: 32px;
}
nav
{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 16px 120px;
}
 .b1
 {
   color: white; 
   background-color: #30B868;
   border: none;
   padding: 12.5px 16px;
   border-radius: 4px;
   transition: all 0.25s;
   cursor: pointer;
 }
 .b1:hover
 {
   background-color: #27a15a;
 }
 .b1:active
 {
   opacity: 0.85;
 }
 .s1
 {
   border: 2px solid;
   display: flex;
 text-align: center;
 justify-content: center;
background-image: url(B13-A01-Knowledge-Vault-main/assets/hero-bg.png);
  background-size: cover;
background-repeat: no-repeat;
 background-position: center;
height: 674px;

 }
  .hh1
  {
   font-size: 72px;
   font-weight: bold;
   color: #FFFFFF;
   text-align: center;
  }
  .hh2
  {
   color: #30B868;
   font-size: 72px;
   text-align: center;
  }
  .dp1
  {
     
     background-color: white;
    max-width: 229px;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1000px;
    text-align: center;
    transition: all 0.25s;
  }
  .dp1:hover
  {
    opacity: 0.7;
  }
  .dp1:active
  {
    opacity: 0.5;
  }
  .dp1 a
  {
    padding: 8px 12px;
   color: #30B868;
   font-size: 16px;
   display: flex;
   align-items: center;
   text-align: center;
   text-decoration: none;
  }
  .i7
  {
    height: 16px;
    width: 16px;
    margin-right: 6px;
  }
  .dd
  {
   padding: 115.5px 120px 179.5px 120px;
  }
  .ddd
  {
   margin-bottom: 16px;
  }
  .dddd
  {
    margin-bottom: 32px;
    text-align: center;
display: flex;
justify-content: center;

  }
  .p2
  {
   font-size: 18px;
   line-height: 24px;
   color: white;
      
  }
  .i3
  {
   height: 20px;
   width: 20px;
   margin-left: 10px;
  }
  .ii2
  {
    height: 20px;
    width: 20px;
    margin-right: 10px;
    
  }
  .b3
  {
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    transition: all 0.25s;
  }
  .b3:hover
  {
    opacity: 0.7;   
  }
  .b3:active
  {
    opacity: 0.5;
  }
  .b2
  {
   background-color: #30B868;
   border: none;
   color: white;
    display: flex;
    align-items: center;
    padding: 15.5px 10px 16.5px 16px;
    border-radius: 4px;
    transition: all 0.25s;
    cursor: pointer;
    font-size: 16px;
  }
  .bbb
  {
   display: flex;
   justify-content: center;
   gap: 16px;
  }
  .b2:hover
  {
   background-color: #27a15a;
  }
  .b2:active
  {
   opacity: 0.85;
  }
  .b3
  {
   background-color: transparent;
   color: white;
   border: solid 1px;
  }
  .mid p
  {
    color: #627382;
  }
   .i4
   {
    background-color: #F95555;
    padding: 14px;
    border-radius: 50px;
    margin: 69.5px 131px 16px 131px;
   }
   .ii
{
  background-color: #F95555;
    padding: 14px;
    border-radius: 50px;
    margin: 55px 131px 16px 131px;
}
   .mid
   {
    text-align: center;
      padding-left: 120px;
     padding-right: 120px;
   }
   .dk
   {
    display: flex;
    gap: 24px;
    justify-content: center;
   }
   .bb
   {
    margin-bottom: 44px;
   }
   .bb h1
   {
    margin-bottom: 16px;
    font-size: 48px;
    font-weight: bold;
    color: #001931;
   }
   .bb p
   {
    color: #627382;
   }
   .dk h4
   {
    font-size: 24px;
    color: #001931;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
   }
   .dk p
   {
    padding-left: 24px;
    padding-right: 24px; 
    max-width: 318px;
    margin-bottom: 20.5px;
   }
   .hh4
{
  max-width: 200px;
}
.mid2
{
  display: flex;
  padding: 120px;
  align-items: center;
}
.d5
{
  margin-right: 60px;
}
.pp
{
  color: #30B868;
  font-size: 16px;
  margin-bottom: 16px;
}
.d5 h1
{
  font-size: 48px;
  color:#001931;
  
}
.hhh
{
  margin-bottom: 16px;
}
.p6
{
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 20px;
  color: #627382;
  max-width: 435px;
}
.ph
{
  margin-bottom: 16px;
  font-size: 16px;
  color: #001931;
  display: flex;
  align-items: center;
   
}
.i8
{
  margin-right: 6px;
}
 .mid3
 {
  text-align: center;
padding: 80px 40px;
margin: 2px 120px 120px 120px;
 }
 .md3 h1
 {
  font-size: 40px;
  color: #001931;
  margin-bottom: 16px;
 }
 .md3 p
 {
  color: #627382;
  font-size: 16px;
  margin-bottom: 24px;
  line-height: 24px;
 }
 .b6
 {
  background-color: #30B868;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  padding: 16.5px 16px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.25);
  transition: all 0.25s;
 }
 .b6:hover
 {
  background-color: #27a15a;
 }
 .b6:active
 {
  opacity: 0.85;
 }
 .i5
 {
  height: 20px;
  width: 20px;
  margin-left: 10px;
 }
 footer
 {
  background-color: #001931;
 }
 .fc
 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
 }
 .end
 {
  padding-top: 120px;
  padding-left: 120px;
  padding-right: 120px;
 }
 .fc h5
 {
  font-size: 20px;
  color: white;
  margin-bottom: 16px;
 }
 .i9
 {
  width: 20px;
  height: 20px;
   margin-right: 16px;

 }
 .diy
 {
  text-align: center;
  padding-bottom: 30px;
  margin-top: 30px;
 }
 .diy p
 {
  font-size: 16px;
  color: white;
 }
 hr {
  height: 1px;
  background-color: #E5E7EB;
   opacity: 0.1;
}
